/* 전역 기본설정 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:hover:not(.active) {
  text-decoration: none;
}

a:hover {
  opacity: 80%;
}

a:active {
  opacity: 60%;
}

button:link,
button:visited,
button:hover,
button:active,
button:hover:not(.active) {
  text-decoration: none;
}

button:hover {
  opacity: 80%;
}

button:active {
  opacity: 60%;
}