/* 전역 기본설정 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/* App */
.appContainer {
  width: 1270px;
  min-width: 640px;
  max-width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* pages */
.mainSection {
  background-color: #f1f2f3;  
  width: 1270px;
  display: flex;
  flex-direction: row;
  padding: 30px 0px
}

.withSidebar {
  background-color: #F1F2F3;  
  width: 1270px;
  display: flex;
  flex-direction: column;
  padding: 30px 0px
}

a:link,
a:visited,
a:hover,
a:active,
a:hover:not(.active) {
  text-decoration: none;
}

a:hover {
  opacity: 80%;
}

a:active {
  opacity: 60%;
}